<div class="mf-app-component">
    <router-outlet></router-outlet>
</div>

<!-------------Organizer---------------->
<!--
    <div class="sized-div darken">
        &nbsp;
    </div>

    <div class="sized-div">
        &nbsp;
    </div>

    <div class="sized-div light">
        &nbsp;
    </div>

    <div class="sized-div saturated">
        &nbsp;
    </div>


<div class="org-container">
    <header>
        <app-selector></app-selector>
    </header>

    <main>
        <app-calendar></app-calendar>
    </main>

    <div>
        <app-organizer></app-organizer>
    </div>
</div>-->
<!------------/Organizer---------------->