/* You can add global styles to this file, and also import other style files */
@import "./assets/styles/theme.less";

@font-face {
    font-family: "Lato";
    src: url("./assets/fonts/Lato/Lato-Regular.eot");
    src: url("./assets/fonts/Lato/Lato-Regular.eot?#iefix") format("embedded-opentype"),
        url("./assets/fonts/Lato/Lato-Regular.woff") format("woff"),
        url("./assets/fonts/Lato/Lato-Regular.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Lato";
    src: url("./assets/fonts/Lato/Lato-Bold.eot");
    src: url("./assets/fonts/Lato/Lato-Bold.eot?#iefix") format("embedded-opentype"),
        url("./assets/fonts/Lato/Lato-Bold.woff") format("woff"),
        url("./assets/fonts/Lato/Lato-Bold.ttf") format("truetype");
    font-weight: bold;
    font-style: normal;
}

body {
    font-size: @font-base-size;
    font-family: @font-family;
}

//-------------Organizer--------------
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    line-height: 1.5;
    background: @background-color;
    color: @organizer-color;
}

.primary {
    color: @primary-color;
    text-decoration:double;

    &:hover {
        color: @hover-color;
    }
}

.org-list {
    list-style: none;
}

.org-input {
    display: block;
    width: 100%;
    padding: 0.4rem;
    font-size: 1.2rem;
    border: 1px solid #ccc;
    outline: none;
    margin-bottom: 0.5rem;
}

.org-container {
    border: 1px solid #000;
    max-width: 1200px;
    margin: auto;
    overflow: hidden;
    padding: 0 2rem;
}

.org-table th {
    background-color: @light-color;
}

.org-btn {
    display: inline-block;
    background: @light-color;
    color: @dark-color;
    padding: 0.4rem 1.3rem;
    font-size: 1rem;
    border: none;
    cursor: pointer;
    margin-right: 0.5rem;
    transition: opacity 0.8s;
    outline: none;

    &:disabled {
        background: @dark-color;
        color: @background-color;
        cursor: not-allowed;
    }

    &:hover:not(:disabled) {
        opacity: 0.75;
    }
}

.org-btn-block {
    display: block;
    width: 100%;
}

.org-btn-primary {
    background: @primary-color;
    color: @background-color;
}

.text-center {
    text-align: center;
}
//------------/Organizer--------------